[Unit]
Description   = PHCK is system health checker web server.
Documentation = https://github.com/ngc224/phck

[Service]
Type           = simple
PIDFile        = /var/run/phck.pid
ExecStart      = /usr/sbin/phck /etc/phck/phck.conf --pidfile=/var/run/phck.pid
ExecReload     = /bin/kill -USR2 ${MAINPID}
ExecStop       = /bin/kill -TERM ${MAINPID}
Restart        = always
TimeoutStopSec = 5

[Install]
WantedBy = multi-user.target
